#gr_updates_widget {
    border-radius: 5px;
    background-color: #fff;
    border: solid #683205 4px;
    -webkit-box-shadow: 0px 0px 4px 1px #595959,
        inset 0px 0px 0px 1px #7D730B;
    -moz-box-shadow: 0px 0px 4px 1px #595959,
        inset 0px 0px 0px 1px #7D730B;
    box-shadow: 0px 0px 4px 1px #595959,
        inset 0px 0px 0px 1px #7D730B;
    padding: 15px 0 0px 15px;
    width: 100%;
    height: 360px;
}

#gr_updates_widget p {
    padding: 0px;
    margin: 0;
    font-size: 14px;
}

#the_iframe {
    width: calc(100% - 4px);
    height: 100%;
}